name: Destroy Ephemeral Env
on:
  pull_request:
    types: [closed]

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Delete Manifest
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git pull
          rm environments/pr-${{ github.event.number }}.yaml
          git add environments/
          git commit -m "Cleanup PR #${{ github.event.number }}"
          git push